<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <style>
            body{
                background-color: aqua;
                color:red;
                text-align: center;
                text-decoration: dashed;
                font-family: Arial, Helvetica, sans-serif;
                font-style: italic;
                margin-bottom: 5px;
            }
        </style>
    </head>
    <body>
         
        <h2>your geographic information:</h2><hr>
        <h3>your ip address:{{ip}}</h3>
        <h3>your  contient name:{{continent_name}}</h3>
        <h3>your country name:{{continent_name}}</h3>
        <h3>your region name:{{region_name}}</h3>
        <h3>your city:{{city}}</h3>
        <h3>your zip:{{zip}}</h3>
        <h3>your Latitude:{{latitude}}</h3>
        <h3>your Longitude:{{longitude}}</h3>

    </body>
</html>




 